/* Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #ede7f6;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
    color: #202124;
}

nav {
    height: 4rem;
    background-color: #1a237e;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.icon,
.reg-link li a {
    margin-left: -0.1875rem;
}

.icon a {
    font-size: 23px;
}

.brand-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}

.icon img {
    width: 14%;
}

ul li {
    list-style: none;
    float: right;
    position: absolute;
    right: -1.5px;
    top: 22px;
}

.reg-link li a {
    width: 20%;
    font-size: 15.45px;
    font-weight: 300;
    padding: 1.4rem 3rem 1.4rem 1rem;
    margin-right: 0.2rem;
}

.reg-link li a:hover {
    background-color: #121373;
    transition-delay: 1s;
    transition: ease;
}

img {
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    font-size: 10px;
    letter-spacing: .25px;
}

/* Main Section */

/* Form Contact */

.contact {
    height: 70.5vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 3rem auto;
    margin-top: 3rem;
}

.form-login img {
    width: 43.5%;
    height: 33.5%;
    margin-top: 1.2rem;
}

.form-text {
    font-weight: 300;
    font-size: 34.4px;
    color: #1a237e;
    padding: 1.38rem 0 .85rem 0;
}

.form-login>p {
    font-size: 14px;
    font-weight: 100;
}

.form-box {
    width: 33.5%;
    height: 55%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 .6rem;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 3px 1px -2px rgba(0, 0, 0, 0.12),
                0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.form-sect-1 {
    width: 90%;
    height: 8rem;
    position: relative;
    top: 4px;
    text-align: start;
    overflow: hidden;
}

.form-sect-2 {
    width: 90%;
    height: 8rem;
    position: relative;
    top: 3px;
    text-align: start;
    overflow: hidden;
}

.form-view {
    margin-top: 30px;
}

#view input {
    width: 100%;
    height: 100%;
    color: #222;
    padding-top: 30px;
    border: none;
    outline: none;
}

#view input[placeholder=""] {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
}

#view label {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #999;
}

#view label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #1a237e;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.label-name {
    position: absolute;
    bottom: 13px;
    left: 0px;
    transition: all 0.3s ease;
    font-size: 15px;
}

#view input:focus+.label-effect .label-email,
#view input:valid+.label-effect .label-email {
   transform: translateY(-150%);
   color: #1a237e;
   font-size: 14px;
}

#view input:focus+.label-effect .label-password,
#view input:valid+.label-effect .label-password {
    transform: translateY(-150%);
    font-size: 14px;
}

#view input:focus+.label-effect::after,
#view input:valid+.label-effect::after {
    transform: translateX(0%);
}

/* Login */
.login {
    width: 100%;
    padding: 1.5rem 0 2rem 0;
}

.login-btn {
    color: #fff;
    font-weight: bold;
    width: 45%;
    height: 2.5rem;
    outline: none;
    text-align: center;
    background-color:  #1a237e;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 3px 1px -2px rgba(0, 0, 0, 0.12),
                0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 2px;
}

.forgot {
    margin-top: .8rem;
}

.forgot a {
    color: #1a237e;
    font-size: 14px;
}

/* Responsive View */
/* @media screen and (max-width: 280px) {
     Main Section 

     Form Contact 

    main {
        margin-top: -5rem;
    }

    .contact {
        height: 86.6px;
    }

    .form-box {
        width: 85%;
        height: 46%;
        padding: 0 1rem;
    }
} */

@media screen and (max-width: 375px) {
    nav {
        height: 3.5rem;
    }

    .icon,
    .reg-link li a {
        margin-left: -.95rem;
    }

    .icon a {
        font-size: 21px;
    }

    .reg-link li a {
        padding: 25px 55px 16px 15px;
        position: relative;
        top: -4px;
        font-size: 13px;
    }

    /* Main Section */

    /* Form Contact */

    .contact {
        margin-top: 7rem;
    }

    .form-box {
        width: 85%;
        height: 46%;
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 414px) {
    nav {
        height: 3.48rem;
    }

    .icon,
    .reg-link li a {
        margin-left: -1rem;
    }

    .reg-link li a {
        font-size: 14px;
        position: relative;
        top: -4px;
    }

    .contact {
        height: 65vh;
        margin-top: 4.8rem;
    }
    
    .form-box {
        width: 85%;
        /* height: 46%; */
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    nav {
        height: 4.05rem;
    }

    .icon,
    .reg-link li a {
        margin-left: -0.5rem;
    }

    .reg-link li a {
        font-size: 14px;
        position: relative;
        top: 1px;
    }

    .contact {
        height: 46vh;
        margin-top: 13.7rem;
    }

    .form-box {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    nav {
        height: 4.05rem;
    }

    .icon,
    .reg-link li a {
        margin-left: -0.5rem;
    }

    .reg-link li a {
        font-size: 14px;
        position: relative;
        top: 1px;
    }

    .contact {
        height: 46vh;
        margin-top: 13.7rem;
    }

    .form-box {
        width: 40%;
    }
}