/* Contact Form */
/* Body style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,
    Tahoma,
    sans-serif;
}

#body-contact {
    padding: 10em 100px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

/* Contact form */

.form {
    background-color: antiquewhite;
    width: 45%;
    height: 30em;
    padding: 0 4em;
    color: #2e2e2e;
    border-radius: 4px;
}

h2 {
    margin: 2em 0 1.5em 0;
    text-align: center;
    color: #274E69;
}

.input-contact {
    margin: 5px 0 15px 0;
    padding: 15px 25px;
    border: 1px solid #e5e5e5;
    width: 350px;
    color: #999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.input-contact:hover, .input-contact:focus{
    border-color: 1px solid #c9c9c9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
    font-size: 16px;
    font-weight: 500;
    color: #0f0f0f;
}

/* Submit Button */

.submit input {
    width: 10em;
    background-color: #274E69;
    color: #fafafa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.submit input[value="Send"] {
    font-size: 14px;
}

.submit input:hover {
    cursor: pointer;
}

.register {
    margin-top: 1em;
    text-align: center;
}

.register a { 
    color: #0f0f0f;
}

.register a:hover {
    color: #0044ff;
}